div.footer-container
    div.footer 
        div.footer-items 
            div CATEGORIES 
            div 
                a(href="/shop/women") Women 
            div 
                a(href="/shop/men") Men  
            div 
                a(href="/shop/shoes") Shoes 
            div
                a(href="/shop/watches") Watches 
        div.footer-items
            div HELP 
            div 
                a(href="#") Track Order 
            div 
                a(href="#") Returns 
            div
                a(href="#") Shipping 
            div  
                a(href="#") FAQs 
        div.footer-items
            div GET IN TOUCH
            div 
                p Any questions? Let us know in store at 8th floor, 379 Hudson St, New York, NY 10018 or call us on (+1) 96 716 6879
            div.footer-icons
                div.footer-icon
                    a(href="#") <i class="fab fa-facebook-f"></i>
                div.footer-icon
                    a(href="") <i class="fab fa-instagram"></i> 
                div.footer-icon
                    a(href="") <i class="far fa-envelope"></i>
        div.footer-items
            div NEWSLETTER
            div 
                input(type="text" placeholder="email@example.com")
            div 
                button SUBSCRIBE
        div.footer-cards-container
            div.footer-cards
                div 
                    a(href="#") 
                        img(src="/images/icon-pay-01.webp", alt="icon-pay-01") 
                div 
                    a(href="#") 
                        img(src="/images/icon-pay-02.webp", alt="icon-pay-02") 
                div 
                    a(href="#") 
                        img(src="/images/icon-pay-03.webp", alt="icon-pay-03") 
                div 
                    a(href="#") 
                        img(src="/images/icon-pay-04.webp", alt="icon-pay-04")
                div 
                    a(href="#") 
                        img(src="/images/icon-pay-05.webp", alt="icon-pay-05")  
            div.footer-text 
                p Copyright ©2021 All rights reserved | This template is made with&nbsp; 
                    span <i class="far fa-heart"></i> &nbsp;
                    |by&nbsp;
                    a(href="#") Colorlib 
