.footer-container {
    background-color: black;
}
.footer {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    padding: 50px 0px 20px;
}
.footer-items {
    width: 25%;
    padding: 0px 20px 0px;
}
.footer-items > div:first-child {
    padding: 30px 0px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.footer-items > div:not(:first-child) {
    padding: 10px 0px;
}
.footer-items a {
    color: darkgray;
    text-decoration: none !important;
}
.footer-items p {
    color: darkgray;
}
.footer-items input {
    background-color: black;
    outline: none;
    border: none;
    border-bottom: 3px solid #282828;
    width: 100%;
    color: white;
}
.footer-items button {
    border: none;
    color: white;
    background-color: #717fe0;
    padding: 10px 30px;
    border-radius: 30px;
    outline: none;
    transition: all 0.5s;
    font-family: 'Montserrat', sans-serif;
}
.footer-items button:hover {
    background-color: white;
    color: #717fe0;
}
.footer-items a:hover {
    color: #717fe0;
}
.footer-cards-container {
    width: 90%;
    margin: auto;
    text-align: center;
    padding: 50px 0px;
}
.footer-cards {
    display: flex;
    justify-content: center;
    padding: 20px;
}
.footer-icons {
    display: flex;
}
.footer-icon {
    padding: 0px 20px 0px 0px;
}
.footer-icon i {
    font-size: 20px;
}
.footer-text {
    color: darkgray;
    text-decoration: none !important;
}
.footer-text a:hover {
    color: blue;
}
@media screen and (max-width: 1200px) {
    .footer {
        width: 100%;
    }
}
@media screen and (max-width: 992px) {
    .footer-items {
        width: 50%;
    }
    .footer-items > div:first-child  {
        padding: 40px 0px 20px;
    }
}
@media screen and (max-width: 600px) {
    .footer-items {
        width: 100%;
    }
}