.shopping-cart-breadcrumb {
    background-color: white !important;
    width: 80%;
    margin: auto;
    padding: 20px 0px 0px!important;
}
.shopping-cart-breadcrumb a {
    color: black !important;
    text-decoration: none !important;
}
.shopping-cart {
    width: 80%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.shopping-cart-left {
    width: 65%;
}
.shopping-cart-left table {
    border: 1px solid darkgray;
    width: 100%;
}
.shopping-cart-left tr {
    border: 1px solid darkgray;
}
.shopping-cart-left th {
    text-align: center;
}
.shopping-cart-left tr:first-child > th {
    padding: 15px;
}
.shopping-cart-left tr:not(:first-child) > th {
    padding: 30px 0px;
}
.shopping-cart-left img {
    padding-right: 20px;
    width: 80px;
    height: 80px;
}
.quantity-div {
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.quantity-div > div {
    padding: 10px 20px;
    border: 1px solid darkgray;
}
.product-quantity {
    background-color: #f7f7f7;
}
.change-quantity {
    transition: all 0.5s;
}
.change-quantity:hover {
    color: white;
    background-color: #717fe0;
    cursor: pointer;
}
.coupon {
    display: flex;
    padding: 30px;
    border: 1px solid darkgray;
    justify-content: space-between;
    border-top: transparent;
    flex-wrap: wrap;
}
.coupon input {
    padding: 10px 0px 10px 20px;
    margin-right: 10px;
    border: 1px solid darkgray;
    border-radius: 20px;
    outline: none;
}
.coupon button {
    padding: 10px 20px;
    border-radius: 20px;
    outline: none;
    border: 1px solid darkgray;
    background-color: #f7f7f7;
    transition: all 0.5s;
    font-weight: bold;
}
.coupon button:hover {
    color: white;
    background-color: #717fe0;
}
.shopping-cart-right {
    width: 30%;
    border: 1px solid darkgray;
}
.shopping-cart-right > div {
    width: 80%;
    margin: auto;
    padding: 20px 0px 0px
}
.shopping-cart-right h4 {
    font-family: 'Montserrat';
}
.cart-sub-total {
    display: flex;
    padding: 20px 0px 10px;
    border-bottom: 1px dashed darkgray;
}
.cart-sub-total > div:first-child {
    width: 30%;
    font-weight: bold;
}
.cart-shipping {
    display: flex;
    padding: 20px 0px;
    border-bottom: 1px dashed darkgray;
}
.cart-shipping input {
    width: 100%;
    padding: 10px;
    outline: none;
}
.cart-shipping > div {
    width: 70%;
}
.cart-shipping select {
    width: 100%;
    padding: 10px;
    outline: none;
}
.cart-shipping > div:nth-child(2) > div:first-child {
    padding-bottom: 10px;
    color: darkgray;
    font-size: 13px;
}
.cart-shipping > div:nth-child(2) > div:nth-child(2) {
    padding: 5px 0px;
    font-size: 13px;
}
.cart-shipping > div:nth-child(2) > div:nth-child(3) {
    padding: 5px 0px;
}
.cart-shipping > div:nth-child(2) > div:nth-child(4) {
    padding: 5px 0px;
}
.cart-shipping > div:nth-child(2) > div:nth-child(5) {
    padding: 5px 0px;
}
.cart-shipping > div:nth-child(2) > div:nth-child(6) {
    padding: 10px 0px;
}
.cart-shipping button {
    background-color: #f7f7f7;
    border: 1px solid darkgray;
    padding: 10px 20px;
    border-radius: 20px;
    outline: none;
    transition: all 0.5s;
}
.cart-shipping button:hover {
    background-color: #717fe0;
    color: white;
}
.cart-total {
    padding: 20px 0px;
}
.cart-total > div {
    display: flex;
}
.cart-total > div:first-child > div:first-child {
    width: 30%;
    padding-bottom: 20px;
    font-weight: bold;
}
.cart-total button {
    background-color: black;
    width: 100%;
    color: white;
    padding: 15px 0px;
    outline: none;
    border: none;
    border-radius: 30px;
    transition: all 0.5s;
}
.cart-total button:hover {
    background-color: #717fe0;
}
@media screen and (max-width: 1300px) {
    .shopping-cart {
        width: 90%;
    }
}
@media screen and (max-width: 1200px) {
    .shopping-cart-left {
        width: 90%;
        margin: 0px auto 50px;
    }
    .shopping-cart-right {
        width: 70%;
        margin: auto;
    }
    }
@media screen and (max-width: 992px) {
    .shopping-cart-left {
        width: 95%;
    }
    .shopping-cart-breadcrumb {
        width: 95%;
    }
}
@media screen and (max-width: 768px) {
    .shopping-cart-left table {
        width: 800px;
    }
    .shopping-cart-left > div:first-child{
        overflow-x: auto;
    }
    .coupon {
        padding: 30px 10px;
    }
    .coupon > div:first-child {
        width: 100%;
    }
    .coupon > div:nth-child(2) {
        padding-top: 15px;
    }
    .shopping-cart-right {
        width: 80%;
    }
}